firmware/coviclock-mqtt/node.json
[{"id":"e9cd9098.523f7","type":"mqtt in","z":"24b8c2a6.9d075e","name":"Topic: coviclock","topic":"coviclock","qos":"2","datatype":"auto","broker":"","x":182.01734924316406,"y":507.0104064941406,"wires":[["659d9576.b02f0c","a69021e9.07921"]]},{"id":"375a8cfc.8495d4","type":"alexa-remote-routine","z":"24b8c2a6.9d075e","name":"Speaks from living room","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":[""]}},"x":795.017333984375,"y":466.01051235198975,"wires":[[]]},{"id":"659d9576.b02f0c","type":"function","z":"24b8c2a6.9d075e","name":"Sentence construction","func":"var msgOut;\nvar pieces=msg.payload.trim().split(\",\");\nvar regione=pieces[0];\nvar contagiati=Number(pieces[1]);\nvar morti=Number(pieces[2]);\nvar StringToSpeak=\"Aggiornamento COVID 19, \"+regione+\". \";\nvar StringToSpeak1;\nvar StringToSpeak2;\n// numero di contagiati\nif (contagiati===0)\n    {\n    StringToSpeak1=\"oggi non c'è nessun contagiato\";\n    }\nelse if (contagiati===1)\n    {\n    StringToSpeak1=\"oggi c'è un solo contagiato\";\n    }\nelse\n    {\n    StringToSpeak1=\"oggi ci sono \"+contagiati+\" contagiati\";    \n    }\n// numero di morti    \nif (morti===0)\n    {\n    StringToSpeak2 = \" e nessun morto\" \n    }\nelse if (morti===1)\n    {\n    StringToSpeak2 = \" e un solo morto. Pace all'anima sua\"     \n    }\nelse\n    {\n    StringToSpeak2 = \" e \"+morti+\" morti\"\n    }\n\nStringToSpeak += StringToSpeak1+StringToSpeak2;\n\nif ((contagiati===0) && (morti===0))\n    {\n    StringToSpeak += \". Che bello, dobbiamo festeggiare\"        \n    }\n\nmsgOut={payload : StringToSpeak};\nreturn msgOut;","outputs":1,"noerr":0,"x":460.0173873901367,"y":504.0104064941406,"wires":[["375a8cfc.8495d4","8b39a5e1.6a6d98","44b1de25.71c37"]]},{"id":"a69021e9.07921","type":"debug","z":"24b8c2a6.9d075e","name":"Check what NodeMCU transmits","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":411.0833282470703,"y":636.0590877532959,"wires":[]},{"id":"ddd36a3d.dfaaa8","type":"inject","z":"24b8c2a6.9d075e","name":"Test","topic":"","payload":"campania,0,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":256.0798568725586,"y":452.9689407348633,"wires":[["659d9576.b02f0c"]]},{"id":"8b39a5e1.6a6d98","type":"debug","z":"24b8c2a6.9d075e","name":"Check what function returns","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":541.0799865722656,"y":582.6147804260254,"wires":[]},{"id":"44b1de25.71c37","type":"alexa-remote-routine","z":"24b8c2a6.9d075e","name":"Speaks from the garage","account":"","routineNode":{"type":"speak","payload":{"type":"regular","text":{"type":"msg","value":"payload"},"devices":[""]}},"x":789.017333984375,"y":517.2327919006348,"wires":[[]]}]